<ion-header>
    <ion-navbar>
        <ion-title>
            Hive Inner page
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Create a hive</h2>

    <ion-list>
        <ion-item>
            <ion-label>Hive number</ion-label>
            <ion-select [(ngModel)]="hive-number">
                <ion-option value="nes">1</ion-option>
                <ion-option value="n64">2</ion-option>
                <ion-option value="ps">3</ion-option>
                <ion-option value="genesis">4</ion-option>
                <ion-option value="saturn">5</ion-option>
                <ion-option value="snes">6</ion-option>
                <ion-option value="nes">7</ion-option>
                <ion-option value="n64">8</ion-option>
                <ion-option value="ps">9</ion-option>
                <ion-option value="genesis">10</ion-option>
                <ion-option value="saturn">11</ion-option>
                <ion-option value="snes">12</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="type">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
                <ion-option value="ps">PlayStation</ion-option>
                <ion-option value="genesis">Sega Genesis</ion-option>
                <ion-option value="saturn">Sega Saturn</ion-option>
                <ion-option value="snes">SNES</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Origin</ion-label>
            <ion-select [(ngModel)]="origin">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
                <ion-option value="ps">PlayStation</ion-option>
                <ion-option value="genesis">Sega Genesis</ion-option>
                <ion-option value="saturn">Sega Saturn</ion-option>
                <ion-option value="snes">SNES</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Hive state</ion-label>
            <ion-select [(ngModel)]="hive-state">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
                <ion-option value="ps">PlayStation</ion-option>
                <ion-option value="genesis">Sega Genesis</ion-option>
                <ion-option value="saturn">Sega Saturn</ion-option>
                <ion-option value="snes">SNES</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Bee family</ion-label>
            <ion-select [(ngModel)]="bee-family">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
                <ion-option value="ps">PlayStation</ion-option>
                <ion-option value="genesis">Sega Genesis</ion-option>
                <ion-option value="saturn">Sega Saturn</ion-option>
                <ion-option value="snes">SNES</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMMM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
    </ion-list>

    <button ion-button padding>Save</button>


</ion-content>
