<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Follow us on Twitter</ion-list-header>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #1
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #2
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #3
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #4
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #5
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #6
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #7
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #8
        </ion-item>
    </ion-list>
</ion-content>
