<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2 class="center">BeeApp</h2>

    <div class="center">
        <p class="ionic-logo"></p>
    </div>

    <ion-card>
        <ion-card-header>
            Docs are here to help
        </ion-card-header>

        <button ion-button color="secondary" clear>Secondary Clear</button>
        <button ion-button clear>Primary Clear</button>

        <ion-list>
            <button ion-item (click)="onLink('http://go.microsoft.com/fwlink/?LinkID=820516')">
                <ion-icon name="jet" item-left></ion-icon>
                Getting Started
            </button>

            <button ion-item (click)="onLink('http://go.microsoft.com/fwlink/?LinkID=820761')">
                <ion-icon name="ionic" item-left></ion-icon>
                Ionic Framework
            </button>

            <button ion-item (click)="onLink('http://go.microsoft.com/fwlink/?LinkID=820520')">
                <ion-icon name="thunderstorm" item-left></ion-icon>
                Azure Services
            </button>

            <button ion-item (click)="onLink('http://go.microsoft.com/fwlink/?LinkID=820524')">
                <ion-icon name="cafe" item-left></ion-icon>
                Plugins Support
            </button>

            <button ion-item (click)="onLink('http://go.microsoft.com/fwlink/?LinkID=820526')">
                <ion-icon name="paw" item-left></ion-icon>
                Troubleshooting
            </button>
        </ion-list>


    </ion-card>

</ion-content>
