<ion-header>
  <ion-navbar>
    <ion-title>
      Hives
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-list>
        <button ion-button clear (click)="openHivePage()">View Page</button>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #1
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #2
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #3
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #4
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #5
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #6
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #7
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #8
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #9
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #10
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #11
        </ion-item>
        <ion-item>
            <ion-icon name="ios-archive-outline" item-left></ion-icon>
            Hive number #12
        </ion-item>
    </ion-list>
    <h2>Ionic 2 in Visual Studio</h2>
    <p>
        This starter project comes with simple tabs-based layout for apps
        that are going to primarily use a Tabbed UI.
    </p>
    <p>
        Take a look at the <code>src/</code> directory to add or change tabs,
        update any existing page or create new pages.
    </p>
</ion-content>
