<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Hives" tabIcon="ios-archive-outline"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Harvest" tabIcon="ios-color-fill-outline"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Stats" tabIcon="ios-stats-outline"></ion-tab>
</ion-tabs>
